@import '../vars';
@import '../mixins';

.assistant {
  background-color: $black;
  padding: 100px 0px 85px 0px;

  .subtitle {
    display: block;
    color: white;
    max-width: 750px;
  }

  &__image {
    margin-top: 75px;
    position: relative;

    img {
      width: 100%;
    }
  }

  &__list {
    margin: 85px 0 0 0;
    @include row(3, 50px, 40px);
  }

  &__popup {
    position: absolute;
    top: 40px;
    right: 95px;
    width: 240px;
  }
}

.assistant-item {
  &__title {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: white;
    margin-bottom: 15px;
  }

  &__text {
    color: $gray;
    font-size: 15px;
    line-height: 1.33;
    letter-spacing: 0.1px;
  }
}

@media only screen and (max-width: $tablet-landscape-max) {
  .assistant {
    padding-top: 74px;
    padding-bottom: 58px;

    &__popup {
      top: 45px;
      right: 8%;
      top: 20%;

      span {
        font-size: 18px;
      }
    }
  }
}

@media only screen and (max-width: $tablet-portrait-max) {
  .assistant {
    &__list {
      @include row(3, 40px, 40px);
    }
  }
}

@media only screen and (max-width: $mobile-max) {
  .assistant {
    padding-top: 50px;
    padding-bottom: 25px;

    &__image {
      margin-top: 50px;
    }

    &__list {
      margin-top: 50px;
      @include row(2, 0px, 50px);
    }
  }
}

@media only screen and (max-width: $mobile-small-max) {
  .assistant {
    &__list {
      @include row(1, 0px, 50px);
    }
  }
}
