@import '../vars';
@import '../mixins';

.contacts {
  background-image: radial-gradient(circle at 50% 0, #0643e8, #000000);
  padding: 200px 0px 0px 0px;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    flex: 0 0 45%;
  }

  &__title {
    display: block;
    color: white;
    font-size: 33px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  &__text {
    font-family: Formular;
    line-height: 1.4;
    font-size: 20px;
    color: white;
  }

  &__socials {
    margin-top: 50px;

    a {
      margin-right: 26px;
      opacity: .8;
      text-decoration: none;
      color: inherit;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__email {
    display: inline-block;
    vertical-align: middle;
    width: 175px;
    height: 45px;
    border: solid 1px rgba(255, 255, 255, .15);
    padding-left: 15px;
    font-size: 15px;
    text-align: left;
    margin-right: 0px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    outline: none;
    margin-right: 30px;
    margin-top: 40px;

    &:placeholder {
      font-size: 15px;
      color: rgba(255, 255, 255, .5);
    }
  }

  &__submit {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid rgba(255, 255, 255, .15);
    cursor: pointer;
    width: 170px;
    font-size: 15px;
    height: 45px;
    line-height: 45px;
    background: transparent;
    transition: all 0.3s ease;
    outline: none;
    color: white;
    margin-top: 40px;

    &:hover {
      color: white;
      border: 1px solid $blue;
      background-color: $blue;
    }
  }

  &__thanks {
    display: none;
    color: white;
    font-size: 15;
    margin-top: 30px;
  }
}

@media only screen and (max-width: $tablet-landscape-max) {
  .contacts {
    padding-top: 150px;
  }
}

@media only screen and (max-width: 1000px) {
  .contacts {
    &__col {
      flex: 0 0 47%;
    }
  }
}

@media only screen and (max-width: $tablet-portrait-max) {
  .contacts {
    padding-top: 100px;

    &__row {
      display: block;
    }

    &__title {
      font-size: 24px;
      margin-bottom: 25px;
    }

    &__text {
      font-size: 20px;
    }

    &__text {
      display: block;
      max-width: 680px;

      &_news {
        max-width: 550px;
      }
    }

    &__col {
      &:last-child {
        margin-top: 75px;
      }
    }

    &__form form {
      display: flex;
      justify-content: space-between;
    }

    &__submit, &__email {
      flex: 0 0 auto 50%;
      width: 50%;
    }

    &__email {
      margin-right: 40px;
    }
  }
}

@media only screen and (max-width: $mobile-max) {
  .contacts {
    &__socials {
      margin-top: 25px;
    }

    &__form form {
      display: block;

      input {
        width: 100%;
      }
    }

    &__email, &__submit {
      margin-top: 25px;
      margin-right: 0;
    }
  }
}
