@import '../vars';
@import '../mixins';

.main {
  position: relative;
  background: black;

  height: 100vh;
  min-height: 450px;

  .container {
    position: relative;
    height: 100vh;
    min-height: 450px;
    z-index: 3;
  }

  &__content {
    position: absolute;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    top: 50%;
    margin-top: 15px;
  }

  &__title {
    display: block;
    font-size: 33px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  &__subtitle {
    display: block;
    font-size: 18px;
    color: white;
    margin-bottom: 40px;
  }

  &__buttons {
    position: relative;
    margin-top: 50px;

    > div {
      margin-right: 10px;
    }
  }

  &__white-paper, &__telegram {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transition: background-color 0.3s ease, border-color 0.3s ease, border-width 0.3s ease;
    border: none;
    width: 150px;
    height: 45px;
    line-height: 45px;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
  }

  &__white-paper {
    background-color: white;
    color: $black;
    margin-right: 20px;
    font-weight: 500;

    &:hover {
      background-color: $blue;
      color: white;
    }
  }

  &__telegram {
    border: 1px solid rgba(255,255,255, 0.1);
    color: white;

    &:hover {
      background-color: $blue;
      border: 1px solid $blue;
      color: white;
    }
  }

  &__bottom {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
  }

  &__learn {
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    transition: opacity 0.3s ease;
    
    &:hover {
      opacity: .6;
    }
  }

  &__social {
    margin-right: 26px;
    opacity: .6;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__socials {
    position: relative;
    margin-top: 50px;
  }

  &__blur {
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    background-image: url('../images/blur.png');
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    animation: 4.5s blur ease-in-out infinite;
  }
}

@media screen and (max-height: 500px) {
  .main {
    &__bottom {
      bottom: 30px;
    }
  }
}

@media only screen and (max-width: $tablet-landscape-max) {
  .main {
    &__content {
      left: 45px;
    }

    &__bottom {
      left: 45px;
    }
  }
}

@media only screen and (max-width: $mobile-max) {
  .main {
    &__content {
      left: 15px;
    }

    &__bottom {
      left: 15px;
      bottom: 25px;
    }

    &__socials {
      margin-top: 25px;
    }
  }
}


@media only screen and (max-width: $mobile-small-max) {
  .main {
    min-height: 550px;

    .container {
      min-height: 550px;
    }

    &__white-paper, &__telegram {
      width: 130px;
    }

    &__social {
      margin-right: 19px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@keyframes blur {
  0% {
    background-position: 50% -20%;
    opacity: 0;
  }

  60% {
    background-position: 50% 30%;
    opacity: .8;
  }

  100% {
    background-position: 50% -20%;
    opacity: 0;
  }
}
