@import '../vars';
@import '../mixins';

.partners {
  background-color: $black;
  padding: 75px 0px 90px 0px;

  &__list {
    margin: 50px 0 0 0;
    @include row(6, 55px, 35px);
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    > li {
      position: relative;

      img {
        max-width: 100%;
      }
    }
  }
}

@media only screen and (max-width: $tablet-landscape-max) {
  .partners {
    padding-top: 50px;
    padding-bottom: 65px;
  }
}

@media only screen and (max-width: $tablet-portrait-max) {
  .partners {
    padding-bottom: 45px;
    &__list {
      @include row(4, 40px, 42px);
    }
  }
}

@media only screen and (max-width: $mobile-max) {
  .partners {
    padding-top: 50px;
    padding-bottom: 25px;

    &__list {
      @include row(3, 20px, 30px);
    }
  }
}

@media only screen and (max-width: $mobile-small-max) {
  .partners {
    &__list {
      @include row(2, 20px, 30px);
    }
  }
}
