@import '../vars';
@import '../mixins';

.publications {
  background-color: $black;
  padding: 75px 0px 150px;

  h2 {
    margin-bottom: 25px;
  }

  &__list {
    margin: 60px 0 0 0;
    @include row(4, 125px, 40px);
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    > li {
      position: relative;

      img {
        max-width: 100%;
      }
    }
  }

  &__quote {
    display: block;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 300;
    color: white;
    max-width: 620px;
    color: var(--white);
  }

  &__quote-name {
    font-size: 15px;
    max-width: 620px;
    line-height: 1.33;
    color: $gray;
    display: block;
    letter-spacing: 0.1px;
  }
}

@media only screen and (max-width: $tablet-landscape-max) {
  .publications {
    padding-top: 60px;
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: $tablet-portrait-max) {
  .publications {
    padding-bottom: 125px;

    &__list {
      @include row(3, 40px, 30px);
      margin-top: 50px;
    }
  }
}

@media only screen and (max-width: $mobile-max) {
  .publications {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: $mobile-small-max) {
  .publications {
    &__list {
      @include row(1, 0px, 35px);

      > li img {
        max-width: 200px;
      }
    }
  }
}
