@import '../vars';
@import '../mixins';

.team {
  background-color: $black;
  padding: 100px 0px 75px;

  .subtitle {
    max-width: 750px;
  }

  &__list {
    margin: 75px 0 0 0;
    @include row(4, 40px, 50px);
  }
}

.team-item {
  &__name {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: white;
    margin-bottom: 5px;
  }

  &__position {
    display: block;
    font-weight: 300;
    font-size: 15px;
    color: $gray;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
  }

  &__social {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    opacity: .8;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: $tablet-landscape-max) {
  .team {
    padding-top: 75px;
    padding-bottom: 48px;
  }
}

@media only screen and (max-width: $tablet-portrait-max) {
  .team {
    &__list {
      @include row(3, 40px, 42px);
      margin-top: 50px;
    }
  }
}

@media only screen and (max-width: $mobile-max) {
  .team {
    padding-top: 25px;
    padding-bottom: 25px;

    &__list {
      @include row(2, 0px, 25px);
      margin-top: 75px;
    }
  }
}

@media only screen and (max-width: $mobile-small-max) {
  .team {
    &__list {
      @include row(1, 0px, 25px);
    }
  }
}
