@import '../vars';
@import '../mixins';

.token {
  background-color: $black;
  padding: 76px 0px 97px 0px;

  .subtitle {
    max-width: 750px;
  }

  &__calendar {
    @include row(4, 0px, 0px);
    margin-top: 75px;
    height: 200px;
    display: flex;
  }

  &__col {
    border-left: 1px solid rgba(255, 255, 255, .25);

    &:first-child {
      border-right: 1px solid transparent;
    }

    &_active {
      background-image: radial-gradient(circle at 0% 50%, rgba(6, 67, 232, 0), #0643e8);
    }
  }

  &__date, &__price {
    position: relative;
    height: 100px;
  }

  &__month {
    display: block;
    font-size: 15px;
    line-height: 1.4;
    color: $gray;
    font-weight: 400;
    margin-left: 15px;
    letter-spacing: 0.1px;
  }

  &__name {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    color: #ffffff;
    margin-top: 1px;
    margin-left: 15px;
  }

  &__price-usd {
    position: absolute;
    left: 15px;
    bottom: 27px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.67;
  }

  &__price-eth {
    position: absolute;
    left: 15px;
    bottom: 2px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
  }

  &__day {
    position: absolute;
    bottom: 15px;
    left: 10px;
    font-size: 18px;
    font-weight: 400;
  }

  &__calendar-container {
    @include tablet-container();
  }
}

@media only screen and (max-width: $tablet-landscape-max) {
  .token {
    padding-top: 50px;
    padding-bottom: 75px;
  }
}

@media only screen and (min-width: $tablet-portrait-max + 1px) and (max-width: $tablet-landscape-max) {
  .token {
    &__calendar > div {
      width: auto;
      flex: 1 1 auto;
    }
  }
}

@media only screen and (max-width: $tablet-portrait-max) {
  .token {
    padding-top: 25px;

    &__calendar {
      display: block;

      > div, > li {
        width: 100%;
      }
    }

    &__col {
      height: 200px;
    }
  }
}

@media only screen and (max-width: $mobile-max) {
  .token {
    padding-top: 25px;
    padding-bottom: 70px;

    &__calendar {
      margin-top: 50px;
    }

    &__col {
      border-right: 1px solid transparent;
    }
  }
}
