@import '../vars';
@import '../mixins';

.wallet {
  background-color: $black;
  padding: 85px 0px 80px 0px;

  .subtitle {
    max-width: 750px;
  }

  &__list {
    margin: 75px 0 0 0;
    @include row(3, 50px, 40px);
  }
}

.wallet-item {
  position: relative;

  &__image {
    width: 100%;
    margin-bottom: 25px;

    img {
      height: 100px;
    }
  }

  &__name {
    display: block;
    font-size: 15px;
    line-height: 1.33;
    color: $gray;
    margin-bottom: 5px;
    letter-spacing: 0.1px;
  }

  &__title {
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: white;
    line-height: 1.4;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 15px;
    line-height: 1.33;
    color: $gray;
    letter-spacing: 0.1px;
  }
}

@media only screen and (max-width: $tablet-landscape-max) {
  .wallet {
    padding-top: 54px;
    padding-bottom: 54px;

    &__list {
      @include row(3, 40px, 40px);
    }

    .subtitle {
      max-width: 610px;
    }
  }
}

@media only screen and (max-width: $mobile-max) {
  .wallet {
    padding-top: 25px;
    padding-bottom: 25px;

    &__list {
      margin-top: 50px;
      @include row(2, 0px, 50px);
    }
  }
}

@media only screen and (max-width: $mobile-small-max) {
  .wallet {
    &__list {
      @include row(1, 0px, 50px);
    }
  }
}
